/*Fonts*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');



/*Normalize*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family:'Montserrat';
}


ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #2b2b2b;
}


/*Header*/

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0;
    border-top: 5px solid #2b2b2b;
    border-bottom: 5px solid #2b2b2b;
}

header nav .menu {
    display: flex;
    gap: 2rem;
}

/*header .navigation {
    flex-basis: 50%;
}

header .header__logo {
   flex-basis: 50%;
}*/

header .header__img {
    max-width: 120px;
}

.menu .menu__link {
    font-size: 1.6em;
}

/*Main*/

.container {
    max-width: 1200px;
    margin: 0 auto;
}

#propiedades {
    padding: 60px;
    margin: 60px;
    background-position: center;
    background-image: url(../img/2.png);
    background-size: cover;
}

.bordesRedondeados {
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.propiedades-flex {
    display:flex;
    flex-direction:row;
    align-items: center;
}

/*Gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 2rem;
}

.gallery .gallery__img:nth-of-type(1) {
    grid-column: 1/7;
    grid-row: 1;
}

.gallery .gallery__img:nth-of-type(2) {
    grid-column: 7/13;
    grid-row: 1;
}

.gallery .gallery__img:nth-of-type(3) {
    grid-column: 1/7;
    grid-row: 2;   
}

.gallery .gallery__img:nth-of-type(4) {
    grid-column: 7/13;
    grid-row: 2;
}

.gallery .gallery__img:nth-of-type(5) {
    grid-column: 1/7;
    grid-row: 3;
}

.gallery .gallery__img:nth-of-type(6) {
    grid-column: 7/13;
    grid-row: 3;
}




@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 2rem;
    }
}


