/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap");
/*MISC*/
/* Colors */
/* Spacings */
.spacing-large {
  padding: 6rem; }

.spacing-medium {
  padding: 2.4rem; }

.spacing-small {
  padding: 2rem; }

.spacing-xsmall {
  padding: 1.5rem; }

/* Font-family */
/* Font-sizes */
/*Normalize*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Montserrat"; }

ul {
  list-style-type: none; }

a {
  text-decoration: none;
  color: #000000; }

/*PARTIALS*/
/*Header*/
header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 3rem 0;
  border-top: 5px solid #2b2b2b;
  border-bottom: 5px solid #2b2b2b; }

header nav .menu {
  display: flex;
  gap: 2rem; }

li :hover {
  background-color: #ddb773;
  color: whitesmoke;
  padding: 1rem 1.2rem;
  border-radius: 10px; }

/*header .navigation {
    flex-basis: 50%;
}

header .header__logo {
   flex-basis: 50%;
}*/
header .header__img {
  max-width: 120px;
  animation-name: rotateMe;
  animation-duration: 4s;
  animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  animation-iteration-count: 1;
  animation-delay: 3s; }

.menu .menu__link {
  font-size: 1.6em;
  padding: 1rem 1.2rem;
  transition: all 2s; }

#footer {
  background-color: white;
  text-align: center;
  margin: 20px;
  padding: 20px;
  font-size: large;
  background-image: linear-gradient(to left, #ddb773 45%, white); }

/*VIEWS*/
/*Main*/
.font-size {
  font-size: large; }

.container {
  max-width: 1200px;
  margin: 50px auto; }

#propiedades {
  padding: 60px;
  margin: 60px;
  background-position: center;
  background-color: #d1ccc4;
  background-size: cover;
  align-items: center; }

.btn, .btn--comprar, .btn--info {
  width: 150px;
  padding: 10px 15px;
  font-size: 12px;
  align-items: center;
  margin: 300px 30px;
  border: none;
  margin: 5px 30px; }

.btn--comprar {
  background-color: #d7d5e2; }
  .btn--comprar:hover {
    background-color: #ddb773; }

.btn--info {
  background-color: #d7d5e2; }
  .btn--info:hover {
    background-color: #ddb773; }

.bordesRedondeados {
  border-radius: 10px;
  width: 90%;
  height: 90%;
  gap: 3fr; }

.propiedades-flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  /*display:flex;
    flex-direction:row;
    align-items: center;*/ }

/*Gallery*/
.gallery {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(3, 1fr); }

.gallery__img {
  transition: transform .6s; }

.gallery .gallery__img:hover {
  transform: scale(1.05); }

.gallery .gallery__img:nth-of-type(1) {
  grid-column: 1/7;
  grid-row: 1; }

.gallery .gallery__img:nth-of-type(2) {
  grid-column: 7/13;
  grid-row: 1; }

.gallery .gallery__img:nth-of-type(3) {
  grid-column: 1/7;
  grid-row: 2; }

.gallery .gallery__img:nth-of-type(4) {
  grid-column: 7/13;
  grid-row: 2; }

.gallery .gallery__img:nth-of-type(5) {
  grid-column: 1/7;
  grid-row: 3; }

.gallery .gallery__img:nth-of-type(6) {
  grid-column: 7/13;
  grid-row: 3; }

@keyframes rotateMe {
  0% {
    transform: rotate(0deg); }
  50% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(360deg); } }

.containerCards {
  display: grid;
  justify-content: space-around;
  place-items: center;
  position: relative;
  height: 400px;
  width: 300px;
  background: #ece9e9;
  border-radius: 80px;
  overflow: hidden;
  margin: 30px; }

.containerCards::before {
  content: url();
  width: 200px;
  height: 900px;
  left: 50px;
  top: 100px;
  position: absolute;
  background: linear-gradient(#f1f5f5, #ddb773);
  animation: animate 10s linear infinite; }

@keyframes animate {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.containerCards::after {
  content: "";
  position: absolute;
  background: #e3dfec;
  inset: 3px;
  border-radius: 60px; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px; }

h1 {
  color: #ddb773;
  animation: neon 5s infinite;
  margin: 3%;
  font-size: 6rem;
  text-align: center; }

h2 {
  color: #ddb773;
  animation: neon 5s infinite;
  margin: 3%;
  font-size: 4rem;
  text-align: center; }

@keyframes neon {
  0%, 39%, 41%, 59%, 61%, 100% {
    text-shadow: black 0 0 12px, #ddb773 0 0 24px, #ddb773 0 0 36px; }
  40%, 60% {
    text-shadow: none; } }

.containerK {
  display: flex; }

.cardK {
  background-color: #ffffff;
  border-radius: 24px;
  padding: 16px;
  overflow: hidden;
  transform: translate(0);
  margin: 16px;
  transition: 0.25s; }

.cardK:hover {
  transform: scale(1.03); }

.cardK::before {
  content: "";
  position: absolute;
  top: -64px;
  left: -64px;
  width: 300%;
  height: 56%;
  transform: rotate(-12deg);
  z-index: -1; }

.cardK.card-yellowK::before {
  background: linear-gradient(170deg, #d97904, #f2b705); }

.cardK.card-blueK::before {
  background: linear-gradient(170deg, #235b8c, #03a696); }

.cardK.card-redK::before {
  background: linear-gradient(170deg, #d9042b, #f13a5c); }

.cardK .logoK {
  height: 70px;
  padding: 8px; }

.cardK h2 {
  font-size: 80px;
  text-transform: uppercase;
  line-height: 64px;
  color: #ffffff;
  margin: 0;
  margin-top: 24px; }

.cardK .productK {
  height: 600px;
  width: 300px;
  object-fit: contain;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px; }

.cardK .priceK {
  text-align: right;
  margin-top: -24px; }

.cardK .priceK :is(h6, h4) {
  color: #ffffff;
  margin: 0; }

.cardK .priceK h6 {
  color: #a3a3a3;
  font-size: 12px;
  text-decoration: line-through; }

.cardK .priceK h4 {
  font-size: 24px;
  margin-top: -4px; }

.cardK.card-yellowK .priceK h4 {
  background: linear-gradient(170deg, #d97904, #f2b705);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.cardK.card-blueK .priceK h4 {
  background: linear-gradient(170deg, #235b8c, #03a696);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.cardK.card-redK .priceK h4 {
  background: linear-gradient(170deg, #d9042b, #f13a5c);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.cardK .button-rightK {
  text-align: right;
  margin-top: 64px; }

.cardK button {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 8px 32px;
  border: none;
  border-radius: 48px;
  cursor: pointer; }

.cardK.card-yellowK button {
  background: linear-gradient(170deg, #d97904, #f2b705); }

.cardK.card-blueK button {
  background: linear-gradient(170deg, #235b8c, #03a696); }

.cardK.card-redK button {
  background: linear-gradient(170deg, #d9042b, #f13a5c); }

.box-form {
  background-color: whitesmoke;
  height: 380px;
  width: 380px;
  margin: 20px;
  font-size: 15px;
  padding: auto;
  justify-content: center; }

.box-form {
  background-color: whitesmoke;
  height: 380px;
  width: 380px;
  margin: 20px;
  font-size: 15px;
  padding: auto;
  justify-content: center; }

.box-video {
  margin: 20px;
  width: 100%;
  height: 380px; }

.box-form {
  background-color: whitesmoke;
  height: 380px;
  width: 380px;
  margin: 20px;
  font-size: 15px;
  padding: auto;
  justify-content: center; }

@media screen and (max-width: 480px) {
  header {
    flex-direction: column;
    gap: 2rem; } }

@media screen and (max-width: 480px) {
  #propiedades {
    flex-direction: column;
    gap: 2rem; } }

@media (max-width: 1200px) {
  .containerK {
    flex-direction: column; } }
