/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,300&display=swap");

/*MISC*/

@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixins";

/*PARTIALS*/

@import "./partials/header";
@import "./partials/footer";

/*VIEWS*/

@import "./views/home";
@import "./views/quierovender";
@import "./views/quierocomprar";
@import "./views/nosotros";
@import "./views/contacto";

@import "./misc/mediaqueries";






