/*MISC*/

@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixins";

/*PARTIALS*/

@import "./partials/header";
@import "./partials/footer";

/*VIEWS*/

@import "./views/home";
@import "./views/quierovender";
@import "./views/quierocomprar";
@import "./views/nosotros";
@import "./views/contacto";








