/*Main*/

.font-size {
    font-size:large;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
}

#propiedades {
    padding: 60px;
    margin: 60px;
    background-position: center;
    background-image: url(../img/2.png);
    background-size: cover;
    align-items: center;

}

.btn {
    width: 150px;
    padding: 10px 12px;
    font-size: 8px;
    align-items: baseline;
    margin: 0 auto;
    border: none;
    margin: 5px 0;
}

.btn--comprar {
    @extend .btn;
    background-color: white;
    &:hover {
        background-color: #ddb773;
    }
}

.btn--info {
    @extend .btn;
    background-color: white;
    &:hover {
        background-color: #ddb773;
    }
}

.bordesRedondeados {
    border-radius: 10px;
    width: 90%;
    height: 90%;
}

.propiedades-flex {
    @include flex(row, center, flex-start, map-get($spacings, $spacing-small));
    /*display:flex;
    flex-direction:row;
    align-items: center;*/
}

/*Gallery*/

.gallery {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: map-get($spacings, $spacing-small);
}

.gallery__img {
    transition: transform .6s;
}

.gallery .gallery__img:hover {
    transform: scale(1.05);
}

.gallery .gallery__img:nth-of-type(1) {
    grid-column: 1/7;
    grid-row: 1;
}

.gallery .gallery__img:nth-of-type(2) {
    grid-column: 7/13;
    grid-row: 1;
}

.gallery .gallery__img:nth-of-type(3) {
    grid-column: 1/7;
    grid-row: 2;   
}

.gallery .gallery__img:nth-of-type(4) {
    grid-column: 7/13;
    grid-row: 2;
}

.gallery .gallery__img:nth-of-type(5) {
    grid-column: 1/7;
    grid-row: 3;
}

.gallery .gallery__img:nth-of-type(6) {
    grid-column: 7/13;
    grid-row: 3;
}


@keyframes rotateMe {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(360deg);
    }
}