@media screen and (max-width: 480px) {
    header {
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-width: 480px) {
    #propiedades {
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 1200px) {
    .containerK {
      flex-direction: column;
    }
  }