 
    /* Colors */
$primary: #ddb773;
$text-color: #000000;

    /* Spacings */
$spacing-large: 6rem;
$spacing-small: 2rem;

    /* Font-family */
$font-principal: 'Montserrat';

    /* Font-sizes */
$text-base: 1.6em;
